<p>
  Start Date: <input type="date" [ngModel]="dateFilter.value.startDate" (ngModelChange)="dateFilter.value.startdate = $event" [value]="dateFilter.value.startDate|date:'yyyy-MM-dd'">
  End Date: <input type="date" [ngModel]="dateFilter.value.endDate" (ngModelChange)="dateFilter.value.endDate = $event" [value]="dateFilter.value.endDate|date:'yyyy-MM-dd'">
  {{dateFilter.value.startDate}} {{dateFilter.value.endDate}}


</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><input type="checkbox" [(ngModel)]="selectAll" (ngModelChange)="selectAllEvents()"></th>
      <th>Id</th>
      <th>Desc</th>
      <th>Date</th>

      <th *ngFor="let task of tasks">{{ task.task_name }}</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <!-- This is the create section -->

    <tr >

      <td></td>

      <td></td>
      <td><input type="text" [(ngModel)]="eventForm.value.event_name"></td>
      <td><input type="date" [(ngModel)]="eventForm.value.event_date"
          [value]="eventForm.value.event_date | date:'yyyy-MM-dd'"></td>
      <td *ngFor="let task of tasks"></td>

      <td>
        <button class="btn btn-primary" (click)="createEvent(eventForm.value)">Create</button>
      </td>
    </tr>

    <tr  *ngFor="let event of (events!|createassignmentplaceholders:tasks!)|filtereventsbydate:dateFilter.value.startDate:dateFilter.value.endDate;let i = index">
      <td style="column-width: 20px;"><input type="checkbox" [checked]="isSelected(event)" (click)="selectEvent(event)"></td>
      <td><input  type="text" disabled="" [(ngModel)]="event.id"></td>
      <td><input type="text" [(ngModel)]="event.event_name"></td>

      <td>
        <input type="date" [(ngModel)]="event.event_date">

      </td>
      <td *ngFor="let task of tasks" >


        <span *ngFor="let assignment of event.assignments!|filterassignmentsbytask:task.id!" [ngClass]="{'error': (assignment|personbookedpreviousweek:events![i-1]) || (assignment|personbookedthisevent:events![i])}">
          <div *ngTemplateOutlet="myRepeatedTemplate; context: { data: { event: event, people: people, task: task, assignment: assignment} }"></div>

        </span>
        <!-- {{event|json}} -->

      </td>

      <td style="white-space: nowrap;">
        <button class="btn btn-primary" (click)="updateEvent(event)" title="Save Event">💾</button>
        <button class="btn btn-danger" (click)="deleteEvent(event.id ?? 0)" title="Delete Event">🗑️</button>
        <button class="btn btn-danger" (click)="clearEvent(event.id ?? 0)" title="Clear Assignments">🧹</button>
        <button class="btn btn-link" [routerLink]="['/assignments', event.id]" role="button" title="View Assignments">📄</button>
        <button class="btn btn-link" (click)="autoassignbyweek(event,  i, people!, tasks!)" role="button" title="Auto Assign Tasks">🤖</button>
      </td>
    </tr>
  </tbody>
</table>
<!-- {{events|json}} -->

<p>To creat a new event, complete the details and click create.</p>
<p>To create bulk events, first create one or more events, then select the events you wish to repeat, fill in
  the interval (days, weeks, etc) the number of times to repeat, and click Create Draft Events.
</p>

Repeat every<input type="number" [(ngModel)]="repeatValue" [disabled]="!selectedEvents.length">
<select [(ngModel)]="repeatUnit" [disabled]="!selectedEvents.length">
  <option value="3600">hours</option>
  <option value="86400">days</option>
  <option value="604800">weeks</option>
</select>
 <input type="number" [(ngModel)]="repeatCount" [disabled]="!selectedEvents.length"> times
<button class="btn btn-primary" [disabled]="!selectedEvents.length" (click)="repeatEvents()">Confirm</button>

<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Desc</th>
      <th>Date</th>

      <th *ngFor="let task of tasks">{{ task.task_name }}</th>

      <th></th>
    </tr>
  </thead>
  <tbody>


    <tr *ngFor="let event of (draftEvents!|createassignmentplaceholders:tasks!)">
      <td><input type="text" [(ngModel)]="event.event_name"></td>

      <td>
        <input type="date" [(ngModel)]="event.event_date">
      </td>
      <td *ngFor="let task of tasks">


        <span *ngFor="let assignment of event.assignments!|filterassignmentsbytask:task.id!">
          <div *ngTemplateOutlet="myRepeatedTemplate; context: { data: { event: event, people: people, task: task, assignment: assignment} }"></div>


        </span>
      </td>

      <td>
        <button class="btn btn-primary" (click)="updateEvent(event)">Update</button>
        <button class="btn btn-danger" (click)="deleteEvent(event.id ?? 0)">Delete</button>
        <button class="btn btn-danger" (click)="deleteEvent(event.id ?? 0)">Clear</button>

        <button class="btn btn-link" [routerLink]="['/assignments', event.id]" role="button">View Assignments</button>
      </td>
    </tr>
  </tbody>
</table>
<button (click)="createEvents()" [disabled]="!draftEvents.length">Create ({{draftEvents.length }})events</button>


<button (click)="autoassigntaskforallevents(events!)">AutoAssignAlltasks</button>

<!-- my-main-component.component.html -->
<ng-template #myRepeatedTemplate let-data="data">
  <!-- your HTML code here -->
 <select [(ngModel)]="data.assignment.person_id" (ngModelChange)="forceUpdate(data.event)" name="personid">
  <option [value]=''></option>


  <option *ngFor="let person of data.people!|filterpeoplebytasks:data.task" [value]="person.id">{{ person.first_name }} {{ person.last_name }}
  </option>
</select>
</ng-template>