<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
     
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><input type="text" [(ngModel)]="taskForm.value.task_name"></td>
      <td>
        <button class="btn btn-primary" (click)="createTask(taskForm.value)">Create</button>
      </td>
    </tr>
    <tr *ngFor="let task of tasks">
      <td><input disabled="" type="text" [(ngModel)]="task.id"></td>
      <td><input type="text" [(ngModel)]="task.task_name"></td>
      <td>
        <button class="btn btn-primary" (click)="updateTask(task)">Update</button>
        <button class="btn btn-danger" (click)="deleteTask(task.id??0)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


