<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First</th>
      <th>Last</th>
      <th *ngFor="let task of tasks">{{ task.task_name }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of people">
      <td>{{ person.id }}</td>
      <td><input type="text" [(ngModel)]="person.id" disabled></td>
      <td><input type="text" [(ngModel)]="person.first_name"></td>
      <td><input type="text" [(ngModel)]="person.last_name"></td>
      <td *ngFor="let task of tasks">
        <input type="checkbox" [checked]="hasTask(person, task)" (change)="onTaskChange($event,person, task)">
      </td>
      <td>
        <button class="btn btn-primary" (click)="updatePerson(person)">Update</button>
        <button class="btn btn-danger" (click)="deletePerson(person.id ?? 0)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Create Person</h3>
<form (ngSubmit)="createPerson(personForm.value)">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" [(ngModel)]="personForm.value.first_name">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)]="personForm.value.last_name">
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
</form>


