

<div *ngIf="eventIdFromRoute && events.length > 0">
  <h2>Assignments for Event {{ events[eventIdFromRoute].event_name }} {{ events[eventIdFromRoute].event_date }}</h2>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Event ID</th>
      <th>Person ID</th>
      <th>Task ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" [(ngModel)]="assignmentForm.value.id" disabled></td>
      <td>
        <select [(ngModel)]="assignmentForm.value.event_id" name="event_id">
          <option *ngFor="let event of events" [value]="event.id">{{ event.event_name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="assignmentForm.value.person_id" name="person_id">
          <option *ngFor="let person of persons" [value]="person.id">{{ person.first_name }} {{ person.last_name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="assignmentForm.value.task_id" name="task_id">
          <option *ngFor="let task of tasks" [value]="task.id">{{ task.task_name }}</option>
        </select>
      </td>
      <td>
        <button type="submit" class="btn btn-primary" (click)="createAssignment(assignmentForm.value)">Create</button>
      </td>
    </tr>
    <tr *ngFor="let assignment of assignments">
      <td><input type="text" [(ngModel)]="assignment.event_id" disabled></td>
      <td>
        <select [(ngModel)]="assignment.event_id" name="event_id_{{assignment.id}}">
          <option *ngFor="let event of events" [value]="event.id">{{ event.event_name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="assignment.person_id" name="person_id_{{assignment.id}}">
          <option *ngFor="let person of persons" [value]="person.id">{{ person.first_name }} {{ person.last_name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="assignment.task_id" name="task_id_{{assignment.id}}">
          <option *ngFor="let task of tasks" [value]="task.id">{{ task.task_name }}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary" (click)="updateAssigment(assignment)">Update</button>
        <button class="btn btn-danger" (click)="deleteAssigment(assignment.id ?? 0)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

