<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Event ID</th>
      <th>Person ID</th>
      <th>Task ID</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of schedules">
      <td>{{ schedule.id }}</td>
      <td>
        <select [(ngModel)]="schedule.event_id" name="event_id_{{schedule.id}}">
          <option *ngFor="let event of events" [value]="event.id">{{ event.event_name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="schedule.person_id" name="person_id_{{schedule.id}}">
          <option *ngFor="let person of persons" [value]="person.id">{{ person.first_name }} {{ person.last_name }}</option>
        </select>
      </td>
      <td>
        <select [(ngModel)]="schedule.task_id" name="task_id_{{schedule.id}}">
          <option *ngFor="let task of tasks" [value]="task.id">{{ task.task_name }}</option>
        </select>
      </td>
      <td>
        <button class="btn btn-primary" (click)="updateSchedule(schedule)">Update</button>
        <button class="btn btn-danger" (click)="deleteSchedule(schedule.id ?? 0)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<h3>Create Schedule</h3>
<form (ngSubmit)="createSchedule(scheduleForm.value)">
  <div class="form-group">
    <label for="event_id">Event ID</label>
    <select [ngModel]="scheduleForm.value.event_id" (ngModelChange)="scheduleForm.get('event_id')?.setValue($event)" name="event_id">
      <option *ngFor="let event of events" [value]="event.id">{{ event.event_name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="person_id">Person ID</label>
    <select [ngModel]="scheduleForm.value.person_id" (ngModelChange)="scheduleForm.get('person_id')?.setValue($event)" name="person_id">
      <option *ngFor="let person of persons" [value]="person.id">{{ person.first_name }} {{ person.last_name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="task_id">Task ID</label>
    <select [ngModel]="scheduleForm.value.task_id" (ngModelChange)="scheduleForm.get('task_id')?.setValue($event)" name="task_id">
      <option *ngFor="let task of tasks" [value]="task.id">{{ task.task_name }}</option>
    </select>
  </div>

  {{scheduleForm.value | json}}
  <button type="submit" class="btn btn-primary">Create</button>
</form>

