<mat-toolbar color="primary">
    <a mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      Pyscheduler
    </a>
    <a mat-button routerLink="/people">People</a>
    <a mat-button routerLink="/unavailability">Unavailability</a>
    <a mat-button routerLink="/tasks">Tasks</a>
    <a mat-button routerLink="/events">Events</a>
    <a mat-button routerLink="/assignments">Assignments</a>
    <span style="flex: 1 1 auto;"></span>
    <a *ngIf="authService.isAuthenticated()" mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
    </a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="authService.logout()">
        <mat-icon>exit_to_app</mat-icon>
        Logout
      </button>
    </mat-menu>
</mat-toolbar>

