<nav> <a routerLink="/">Pyscheduler</a>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/people">People</a></li>
    <li><a routerLink="/unavailability">Unavailability</a></li>
    <li><a routerLink="/tasks">Tasks</a></li>
    <li><a routerLink="/events">Events</a></li>
    <li><a routerLink="/assignments">Assignments</a></li>
    <li *ngIf="authService.isAuthenticated()">
      <a href="#">👤</a>
      <ul>
        <li><a (click)="authService.logout()">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>

