<style>
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  app-navbar {
    flex: 0 0 auto;
  }


</style>
<div class="app-container">
  <app-navbar></app-navbar>
  <!-- {{authService.events|async|json}}
  {{authService.hasValidAccessToken()}} -->
  <div *ngIf="!(authService.hasValidAccessToken())" class="alert alert-info" role="alert">
    Demo mode, <a routerLink="/login">login</a>/<a routerLink="/signup">sign up</a> to see your data here
  </div>
  

  <router-outlet></router-outlet>
</div>

