<style>
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 2em;
  }

  app-navbar {
    flex: 0 0 auto;
  }


</style>
<div class="app-container">
  <app-navbar></app-navbar>
  <!-- {{authService.events|async|json}}
  {{authService.hasValidAccessToken()}} -->
  <mat-card *ngIf="!(authService.hasValidAccessToken())" 
  class="mat-elevation-z2 mat-card-alert">
    <mat-card-content>
      <p>Demo mode, <app-login></app-login> to see your data here</p>
    </mat-card-content>
  </mat-card>
  

  <router-outlet></router-outlet>
</div>


