<style>
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 2em;
  }

  app-navbar {
    flex: 0 0 auto;
  }


</style>
<div class="app-container">
  <app-navbar></app-navbar>
  <!-- {{authService.events|async|json}}
  {{authService.hasValidAccessToken()}} -->
  <mat-card *ngIf="!(authService.hasValidAccessToken())" 
  class="mat-elevation-z2 mat-card-alert">
    <mat-card-content style="
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  ">
      <div >
        <p>Demo mode, <app-login></app-login> to see your data here, or go right ahead and use the demo instance to try things out!</p>
      </div>
    </mat-card-content>
    <style>
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </mat-card>
  

  <router-outlet></router-outlet>
</div>


