<table class="table table-striped">
  <thead>
    <tr>
      <th><input type="checkbox" [(ngModel)]="selectAll" (ngModelChange)="selectAllEvents()"></th>
      <th>Id</th>
      <th>Desc</th>
      <th>Date</th>

      <th *ngFor="let task of tasks">{{ task.task_name }}</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>

      <td></td>
      <td><input type="text" [(ngModel)]="eventForm.value.event_name"></td>
      <td><input type="date" [(ngModel)]="eventForm.value.event_date"
          [value]="eventForm.value.event_date | date:'yyyy-MM-dd'"></td>
      <td *ngFor="let task of tasks"></td>

      <td>
        <button class="btn btn-primary" (click)="createEvent(eventForm.value)">Create</button>
      </td>
    </tr>

    <tr *ngFor="let event of (events!|createassignmentplaceholders:tasks!)">
      <td><input type="checkbox" [checked]="isSelected(event)" (click)="selectEvent(event)"></td>
      <td><input type="text" disabled="" [(ngModel)]="event.id"></td>
      <td><input type="text" [(ngModel)]="event.event_name"></td>

      <td>
        <input type="date" [(ngModel)]="event.event_date">
      </td>
      <td *ngFor="let task of tasks">


        <span *ngFor="let assignment of event.assignments!|filterassignmentsbytask:task.id!">
          <select [(ngModel)]="assignment.person_id" (ngModelChange)="forceUpdate(event)" name="personid">
            <option value=""></option>


            <option *ngFor="let person of people" [value]="person.id">{{ person.first_name }} {{ person.last_name }}
            </option>
          </select>

        </span>
      </td>

      <td>
        <button class="btn btn-primary" (click)="updateEvent(event)">Update</button>
        <button class="btn btn-danger" (click)="deleteEvent(event.id ?? 0)">Delete</button>
        <button class="btn btn-link" [routerLink]="['/assignments', event.id]" role="button">View Assignments</button>
      </td>
    </tr>
  </tbody>
</table>

Repeat

<label>Every</label><input type="number" [(ngModel)]="repeatValue">

<select [(ngModel)]="repeatUnit">
  <option value="hours">hours</option>
  <option value="days">days</option>
  <option value="weeks">weeks</option>
</select>

<button class="btn btn-primary" (click)="repeatEvents()">Generate</button>
