<p>People</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>First</th>
      <th>Last</th>
      <th *ngFor="let task of tasks">{{ task.task_name }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><input type="text" [(ngModel)]="personForm.value.id" disabled></td>
      <td><input type="text" class="form-control" id="first_name" name="first_name" [(ngModel)]="personForm.value.first_name" (keydown.enter)="createPerson(personForm.value)"></td>
      <td><input type="text" class="form-control" id="last_name" name="last_name" [(ngModel)]="personForm.value.last_name" (keydown.enter)="createPerson(personForm.value)"></td>
      <td *ngFor="let task of tasks">
        <input type="checkbox" [checked]="false" (change)="onTaskChange($event, personForm.value, task)" (keydown.enter)="createPerson(personForm.value)">
      </td>
      <td>
        <button type="submit" class="btn btn-primary" (click)="createPerson(personForm.value)" (keydown.enter)="createPerson(personForm.value)">Create</button>
      </td>
    </tr>
    <tr *ngFor="let person of people" >
      <td [ngClass]="{'duplicate': person| duplicateperson: people!}"><input type="text" [(ngModel)]="person.id" disabled></td>
      <td><input type="text" [(ngModel)]="person.first_name" ></td>
      <td><input type="text" [(ngModel)]="person.last_name" ></td>
      <td *ngFor="let task of tasks">
        <input type="checkbox" [checked]="hasTask(person, task)" (change)="onTaskChange($event,person, task)">
      </td>
      <td>
        <button class="btn btn-primary" (click)="updatePerson(person)">Update</button>
        <button class="btn btn-danger" (click)="deletePerson(person.id ?? 0)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<button update-all (click)="updateAllPeople()">Update All People</button>
